@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* PREMIUM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

/* IMAGE SETTINGS */
img {
  width: 100%;
  display: block;
}

/* PREMIUM SELECTION */
::selection {
  background: white;
  color: black;
}

/* MARQUEE */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-track {
  display: inline-flex;
  gap: 80px;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}